@using MobileMania.Models

@model IEnumerable<MobileInfo>

@{
    ViewBag.Title = "EntryLevelMobiles";
}

<h2 style="text-align:center;color:lightslategrey">Entry Level Mobiles</h2>

@Html.Partial("_MobileTiles")

